{% extends "index.html" %}
{% block section %}
    <script src="/static/js/empleado.js"></script>

    
    <div class="col-md-10 container  ">
        <br>

        <div class="col-md-11 ml-5" style="background:white">

            <div class="row justify-content-center"style=" box-shadow: 0px 4px 5px #55575a;">
                <div class="col-md-12 "style=" box-shadow: 0px 2px 3px #55575a;" >
                    <br>
                    <h2 class="h2Nombre">Formulario de Registro</h2>
                    <!-- <h3 class="h3Nombre">Alcaldía BuenaVida</h3> -->
                    <br>
                </div>
                <br>
    
                <div class="col-md-12 contaiener" >
                    <form action="" class="form-group" id="frmRegistro" method="POST">
                        <div class="container"> 
                            <br>
                            <div class="row justify-content-center ">
                                <h5 class="h5Llenar">Llena la siguiente información</h5>
                            </div>
                            <h1></h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb-3 m-1 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                        <input type="email" class="form-control" placeholder="Correo" id="txtCorreo" name="txtCorreo" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                        <input type="number" style="border: 1px solid #aaa" class="form-control" placeholder="Numero de documento" id="txtCedula" 
                                            name="txtCedula" required aria-label="E" aria-describedby="basic-addon1" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" pattern="[0-9]{10}"  >
                                    </div>
                                </div>
                                                        
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb-3 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                        <input type="text" class="form-control" style="border: 1px solid #aaa;" placeholder="Nombres" id="txtNombre"
                                            name="txtNombre" required>
                                    </div>
                                </div>  
                                <div class="col-md-6">
                                    <div class="input-group mb-3 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                        <input type="text" style="border: 1px solid #aaa" class="form-control" placeholder="Apellidos" id="txtApellido"
                                            name="txtApellido" required >
                                    </div>
                                </div>
    
        
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb-3 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                                        <input type="tel" class="form-control" maxlength="10" placeholder="Celular"
                                            id="txtCelular" name="txtCelular" aria-label="E" aria-describedby="basic-addon1" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" pattern="[0-9]{10}" required>
                                    </div>
                                </div> 

                                <div class="col-md-6">
                                    <!-- <label class="form-label m-1"> Cargo</label> -->
                                    <div class="input-group p-1 ">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fas fa-transgender-alt"></i></span>
                                        <select class="form-select col-11 " aria-label=".form-select-lg example" id="txtCargo"
                                            name="txtCargo" class="font-family" required>
                                            <option selected>Seleccione un Cargo</option>
                                            {% for c in cargo %}
                                                <option value="{{c.id_cargo}}">{{c.nombre_cargo}}</option>
                                            {% endfor%}

                                        </select>
                                    </div>
                                </div>
                             
                            </div>
    
                            <div class="row md-6">
                                <div class="col-md-12">
                                    <div class="input-group mb-3 p-1">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                        <input type="password"  autocomplete="off" style="border: 1px solid #aaa;" class="form-control" placeholder="Contraseña" id="txtPassword"
                                             aria-label="E" name="txtPassword"  >
                                        <button id="show_password" class="btn" style="background: #545BFF; color:white" type="button" onclick="mostrarPassword()">
                                            <span class="fa fa-eye-slash icons"></span> </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row " >
                                <div class="col-md-12 ">
                                    <div class="justify-content-center aling-item-center text-center mt-3">
                                        <label class="form-label text-center font-family" ><strong>Seleccione firma</strong></label>
                                        <div id="divImagen" class="justify-content-center aling-item-center text-center">
                                            <label for="txtImagen">
                                                <div class="dato justify-content-center aling-item-center text-center" id="file-preview-zone">
                                                </div> <i id="data" class="fas fa-file-image" style=" font-size:62px" ></i>
                                            </label>
                                            <input type="file" name="txtdocu" id="txtdocu" class="file"  >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                        </div>
                        <div style="text-align: center;" class="mb-3">
                            <button style="width:20%" type="button" class="btn submit-btn font-family" id="btncrear">Crear cuenta</button>
                        </div>
                        <h1></h1>
                        <div style="text-align: center;" >
                            <p class="font-family">¿No tienes una cuenta? <a class="link font-family" href="/mostrarIniciarSesion">Iniciar Sesión </a></p>
                        </div>
                        <h1></h1>
                    </form>
                </div>
            </div>
        </div>

        <br>    
    </div>

{% endblock %}
   
<!-- 
</body>
</html> -->