<!DOCTYPE html>

<html><head><title>Ejemplo aprenderaprogramar.com</title><meta charset="utf-8">

<script type="text/javascript">

function ejemplo() {

               alert('funciona')

}



</script>

</head>

<body><div id="cabecera"><h2>Cursos aprenderaprogramar.com</h2><h3>Ejemplos JavaScript</h3></div>

 <div class="col-sm-4 btn btn-personal mt-4 mb-4" style="box-shadow: 0px 4px 5px #55575a; border-radius:15px" onclick="ejemplo()">
                                <div class="row justify-content-center mt-4">
                                    <div class="col-4">
                                        <i class="fas fa-cloud-download-alt fa-4x"></i>
                                    </div>
                                    <div class="col-8">
                                        <h3 class=""><strong>Descargar formato</strong></h3>
                                    </div>
                                </div>
                            </div>

<div style="color:blue; margin:20px;" id ="pulsador" onclick="ejemplo()">

</div>

</body></html>