{% extends "user/index.html" %}
{% block section %}
    <script src="../../static/js/consultar.js"></script>


    <!-- container fondo azul -->
    <div class="col-md-10 container fondoSection ">
        <br>
        <!-- container fondo blanco -->
        <div class="col-md-11 ml-5" style="background:white ; box-shadow: 0px 4px 5px #55575a;" >
            <!-- row que contiene la informacion -->
            <div class="row justify-content-center " >
        
                <!-- container de las opciones -->
                <div class="col-md-12 contaiener mt-4"  >
                    <h3 style="text-align: center;" class="font-family"><strong>Consultar historia clínica</strong></h3><br>
                
                    <form action="" class="form-group" id="frmConsultarHistoria" method="POST">
                        <!--Row que contiene las opciones  -->
                        <div class="row justify-content-center mt-3" >
                            <div class="col-11">
                                
                                <table id="tblConsulta" align="center" class="table table-bordered">
                                    <thead class="text-white" style="background:#545BFF">
                                        <tr class="text-center">
                                            <th width="25%" class="font-family">Fecha de la historia</th>
                                            <th width="20%" class="font-family">Identificación</th>
                                            <th width="25%" class="font-family">Nombres</th>
                                        <th width="20%" class="font-family">Apellidos</th>
                                        <th width="10%" class="font-family">Archivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in datos %}
                                    
                                        <tr id="fila" class="primeraFila">
                                            <td style="text-align: center;" id="tblFecha">{{d.fecha_consulta}} </td>
                                            <td style="text-align: center;" id="tblIdentificacion">{{d.paciente.person.num_doc}}</td>
                                            <td style="text-align: center;" id="tblNombres">{{d.paciente.person.nombres}}</td>
                                            <td style="text-align: center;" id="tblApellidos">{{d.paciente.person.apellidos}}</td>
                                            <td style="text-align: center; " id="anexo" class=""><a id="verPDF" href=""  target="_blank"><i class="fas fa-file-pdf  fa-2x" style="color:black"></i></a></td>
                                            <!-- <td id="pAccion" align="center">
                                                <button class="btn btn-warning fas fa-edit editar" data-id=" "></button>
                                            </td> -->
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                            
                            
                           
                           
                            

                        </div>
                        <h1></h1>
                    </form>
                </div>
            </div>
        </div>

        <br>    
    </div>

{% endblock %}
   
<!-- 
</body>
</html> -->